/*
================================================================================
Rothko Painting CSS 
Author: Nevoada ( https://github.com/Nevoada10 )
==============================================================================

Order inside-out::
1) Content is the content inside the box
2) Padding is the space between the border and the content.
3) Border is the space around the padding.
4) Margin is the space around the border.

https://cdn.freecodecamp.org/curriculum/css-box-model/diagram-3.png"

--------------------------------------------------------------------------------

OVERFLOW - is used to control how content overflows the box:
    Overflow visible is default.
    Overflow hidden will hide any content that overflows the box.
    Overflow scroll will add scrollbars.
    Overflow auto will add scrollbars if necessary.
    Overflow initial will set the property to the initial/default value.
    Overflow inherit will inherit the overflow from the parent.
BOX-SHADOW - is used to add shadows to elements.
FILTER - is used to control how an element is blurred.
TRANSFORM - is used to control how an element is transformed.
*/

.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden;
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 1px overflow;
    margin: 20px auto;
    height: 600px;
    background-color: #f5f5dc;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #efb762; /* Increase the area and soften the edges */
    transform: rotate(-0.6deg);
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px; /* top, horizontal margin, bottom */
    box-shadow: 0 0 3px 3px #8f0401; /* Increase the area and soften the edges with a different color */
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}

.one, .two {
    filter: blur(1px);
}

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403; /* Add a box-shadow with the specified values */
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
}
